*{
    margin: 0;
}

/* shared styles */
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.btn-primary{
    border: none;
    background-color: #4E47FF;
    padding: 15px 30px;
    border-radius: 10px;
    color: white;
}
.width-container{
    width: 1140px;
}
/* nav bar section  start here */
.hero{
    height: 650px;
    background-image: url(../Assets/Hero-bg.png)
}

.navbar{
    width: 1140px;
    height: 150px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 34px;
    color: #4E47FF;
}

/* nav bar section  End here */

/* Banner section start here */

.banner-container{
    margin: 100px auto;
    width: 900px;
    height: 300px;
    text-align: center;
    
}

.banner-container h1{
    font-size: 65px;
    font-weight: 800;
    margin-top: 40px;
    margin-bottom: 40px;

}

/* action section  start here */
.action-container{
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action-contant{
    width: 520px;
    height: 200px;
    padding: 20px;
}

.action-contant h2{
    font-size: 40px;
    font-weight: 800;

}
.action-contant p{
    font-size: 24px;
    font-weight: 600;
    color: #25243280;
    margin: 20px 0px;
}

.action-contant-2{
    padding: 20px;
}

.action-contant-2 img{
    border-radius: 20px;
}

/* Productive Users Section start here */

.production-container{
    margin: 100px  auto;
    background-color: #4E47FF1A;
    border-radius: 20px;
   
}
.users-container{
    padding: 40px 60px;
}
.production-title{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}
.users-contant{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    
}
.users h1{
    font-size: 80px;
    font-weight: 800;
    color: #4E47FF;
}
.users p{
    font-size: 20px;
    font-weight: 600;
    color: #00000080;
}

